<!DOCTYPE html>
<html>
<head>
    <title>
        Responsive Apps Assessment
    </title>
    <!--for media query support-->
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
    <!-- respond.js polyfill for supporting media queries -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <!--JSON2 polyfill for supporting JSON parse on older browsers-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/json2/20110223/json2.js"></script>
</head>

<body>
	
	<h3><%=error.statusCode%></h3>
	<p><%=error.data%></p>
</body>

</html>