<!--Author : Arun Karthic R-->
<!DOCTYPE html>
<html>
<head>
    <title>
        Responsive Apps Assessment
    </title>
    <!--for media query support-->
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
    <!-- respond.js polyfill for supporting media queries -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <!--JSON2 polyfill for supporting JSON parse on older browsers-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/json2/20110223/json2.js"></script>
</head>

<body>
	<div class="">	
	<!--	division for practical test #1 Lookup-->
		<div id="lookupDiv">

			<h1>Search User</h1>
			
			<div class="container-wrapper">
				<input type="text" id="searchTxt" class="searchTxt" value="Search..." onfocus="focusSearchBox()"  onblur="blurSearchBox()" />
				<img id="throbber" lt="" src="//upload.wikimedia.org/wikipedia/commons/d/de/Ajax-loader.gif" width="20" height="20" class="thumb-image" style="display:none">
				
				<hr />

				<div id="userTableDiv"></div>
			</div>
		</div>
		<!--	division for practical test #1 Lookup ends here -->

		<!--	division for practical test #2 Pivot table start here-->



		<div id="pivotTableDiv">

			<h1>Savings Account</h1>
			
			<div class="container-wrapper">
				<table id="productTableMin">
					<tr>
						<td></td>
					</tr>
					<tr>
						<td></td>
					</tr>
					<tr>
						<td></td>
					</tr>
					<tr>
						<td></td>
					</tr>
				</table>

				<div id="linksWrapper">
					<a href="#" id="prevBtn" onclick="updateProductMinTable(0)"></a>
					<a href="#" id="nextBtn" onclick="updateProductMinTable(1)"></a>
				</div>

				 <div id="prodTable"></div>
			</div>
		</div>
		<!--	division for practical test #2 Pivot table ends here-->

		<div class="container-wrapper">
			<hr />
			<input type="button" value="Test-1" onclick="displayNextItem()"/>
			<input type="button" value="Test-2" onclick="displayPrevItem()"/>
		</div>
	
   </div>
    <!--	division for practical test Lookup-->
    <script type="text/javascript" src="javascripts/script.js"></script>
    <script type="text/javascript" src="javascripts/utils.js"></script>
    <script type="text/javascript" src="javascripts/userLookup.js"></script>
    <script type="text/javascript" src="javascripts/savingsBank.js"></script>

</body>

</html>