<!--Author : Arun Karthic R-->
<!DOCTYPE html>
<html>
<head>
    <title>
        Responsive Apps Assessment
    </title>
    <!--for media query support-->
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
    <!-- respond.js polyfill for supporting media queries -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <!--JSON2 polyfill for supporting JSON parse on older browsers-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/json2/20110223/json2.js"></script>
</head>

<body>
	<div class="">	
	<!--	division for practical test #1 Lookup-->
		<div id="lookupDiv">

			<h1>Search User</h1>
			
			<div class="container-wrapper">
				<input type="text" id="searchTxt" class="searchTxt" value="Search..." onfocus="focusSearchBox()"  onblur="blurSearchBox()" />

				<hr />

				<div id="userTableDiv"></div>
			</div>
		</div>
		<!--	division for practical test #1 Lookup ends here -->

		<!--	division for practical test #2 Pivot table start here-->



		<div id="pivotTableDiv">

			<h1>Savings Account</h1>
			
			<div class="container-wrapper">
				<table id="productTableMin">
					<tr>
						<td></td>
					</tr>
					<tr>
						<td></td>
					</tr>
					<tr>
						<td></td>
					</tr>
					<tr>
						<td></td>
					</tr>
				</table>

				<div id="linksWrapper">
					<a href="#" id="prevBtn" onclick="updateProductMinTable(0)"></a>
					<a href="#" id="nextBtn" onclick="updateProductMinTable(1)"></a>
				</div>

				 <div id="prodTable"></div>
			</div>
		</div>
		<!--	division for practical test #2 Pivot table ends here-->

		<div class="container-wrapper">
			<hr />
			<input type="button" value="Test-1" onclick="loadTask(1)"/>
			<input type="button" value="Test-2" onclick="loadTask(2)"/>
		</div>
	
   </div>
    <script type="text/javascript">
        function loadTask(id) {
			if(id==1){
				document.getElementById('lookupDiv').style.display = 'block';
				document.getElementById('pivotTableDiv').style.display = 'none';
				
			}
			else{
				document.getElementById('lookupDiv').style.display = 'none';
				document.getElementById('pivotTableDiv').style.display = 'block';
			}
        }
		
		function focusSearchBox(){
				document.getElementById('searchTxt').value='';
			    document.getElementById('searchTxt').className="searchTxtActive";
		}
		
		function blurSearchBox(){
				document.getElementById('searchTxt').value='Search';
			    document.getElementById('searchTxt').className="searchTxt";
		}
    </script>
    <!--	division for practical test Lookup-->
    <script type="text/javascript" src="javascripts/utils.js"></script>
    <script type="text/javascript" src="javascripts/userLookup.js"></script>
    <script type="text/javascript" src="javascripts/savingsBank.js"></script>

</body>

</html>