/*Generic page styles*/
/*Author : Arun Karthic R*/
body {
  
  font: 20px 'Helvetica Regular', Arial, sans-serif;
  color: #0c332f;
  line-height: 36px;
	margin: 0px;
}

a {
  color: #8c6300;
  font: 20px 'Helvetica', Arial, sans-serif;
  line-height: 36px;
  font-weight: bold;
}

.inactive-link{
	pointer-events: none;
	color: lightgrey;
}

h1{
	font-family: 'Helvetica Regular', Arial, sans-serif;
	font-size: 24px;
	font-weight: bold;
	color: #e4efee;
	background-color: #008c85;
	line-height: 36px;
	padding: 5px 5px;
	overflow: hidden;
	margin-top: 0;
}

table{
	border-collapse: collapse;
	padding: .75rem;
    vertical-align: top;
}

/*set the generic styles for tables*/
table tr td, table th{
	padding: 10px;
	text-align: left;
	border: 1px solid #eceeff;
}

table th{
	vertical-align: bottom;
}

/*for striped style of the table*/
table tr:nth-child(even){
	background-color: #eceeef;
} 

.table-bordered td, .table-bordered th {
    border: 1px solid #eceeef;
}

/*container for a set of items*/
.container-wrapper{
	margin: 0px 10px;	
	overflow: hidden;
}

/*style for product table which will be rendered in mobile view*/
table#productTableMin {
		display:none;
		min-width: 200px;
}

/*this is the div which holds elements for exercise 1*/
#lookupDiv{
	display: none;
}

/*search box for exercise 1 */
.searchTxt{
	color: lightgrey;
}

.searchTxtActive{
	color: black;
}
/*apply styles for smaller displays*/
@media only screen and (max-width: 544px) {
	
	body {
	  font: 24px 'Helvetica Regular', Arial, sans-serif;
	  color: #0c332f;
	  background-color: #f9fbd0;
	  line-height: 36px;
	}

	h1 {
		font-family: 'Helvetica', Arial, sans-serif;
		font-size: 36px;
		font-weight: bold;
		color: #e4efee;
		background-color: #008c85;
		line-height: 36px;
	}
	
	a {
	  color: #8c6300;
	  font: 20px 'Helvetica', Arial, sans-serif;
	  display: inline;	
	  line-height: 36px;
	  font-weight: bold;
	}
	

	
	a:link{
    	text-decoration: none;
	}
	

	a:hover{
    	text-decoration: none;
	}
	
	.inactive-link{
		pointer-events: none;
		color: lightgrey;
	}
	
	table tr:nth-child(even){
	background-color: #eceeef;
	} 

	table tr:nth-child(odd){
		background-color: ghostwhite;
	} 
	
	.thumb-image{
		margin: 5px 0px;
		width: 32px;
	}
	.col-1 {
		color: red;
		display: none;
	}	

	.col-2 {
		color: red;
		display: none;
	}
	
	/*hide product table on smaller devices, productTableMin will be shown on the interface instead*/
	#prodTable {
		display:none;
	}
	
	/*product table that will be rendered on smaller devices*/
	table#productTableMin{
		display:block;
	}
	
	table#productTableMin td{
		min-width: 300px;
		text-align: center;
	}
	
	/*container that holds the navigation button for product table in mobile view*/
	#linksWrapper{
		overflow: hidden;
		display: block;
		max-width: 400px;
	}
	
	/*navigations buttons for product table rendered in mobile view*/
	#nextBtn{
		float: right;
		margin: 10px;
	}

	#prevBtn{
		float: left;
		margin: 10px;
	}
}
 

@media all and (min-width: 551px){
		
	#linksWrapper{
		display: none;
	}

}